:root {
  --main-color: #8ae4e4;
  --second-color: #323540;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  scroll-behavior: smooth;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #e4e5ee;
  color: var(--second-color);
}

/* header and navbar setting start */
header, footer {
  background-color: var(--second-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 1rem;
  padding-bottom: 1rem;
  margin-right: 40px;
}

ul{
  list-style-type: none;
}

#branding {
  background-color: var(--main-color);
  padding-left: 100px;
}

#branding h1 a {
  text-decoration: none;
  color: var(--second-color);
}

.ul-link {
  /* margin-right: 40px; */
  display: flex;
  justify-content: space-between;
  /* border: 1px white solid; */
  /* padding-left: 20rem; */
}

nav ul li {
  padding-left: 2rem;
  padding-right: 2rem;
  }

nav ul li a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--main-color);
  text-decoration: none;
  color: var(--main-color);
}

/* header and navbar setting end */
/*hero image setting*/
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.hero-banner h2 {
  background-color: var(--main-color);
  color: var(--second-color);
  margin-bottom: 10px;
}

/*main universal*/
main {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}

/*main - setting grid - starts*/
.main-wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  column-gap: 10px;
  row-gap: 10px;
}

.about { grid-area: 1 / 1 / 2 / 2; }
.about-content { grid-area: 1 / 2 / 2 / 3; }
.work { grid-area: 2 / 1 / 3 / 2; }
.work-content { grid-area: 2 / 2 / 3 / 3; }
.contact { grid-area: 3 / 1 / 4 / 2; }
.contact-content { grid-area: 3 / 2 / 4 / 3; }
/*main - setting grid - ends */

.about, .work, .contact {
  border-right: solid 2px var(--second-color);
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.about-content {
  /* border: 1px red solid; */
  height: fit-content;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about h2, .work h2, .contact h2 {
  /* border: 1px red solid; */
  text-align: right;
  font-size: 30px;
  width: min-content;
  line-height: 1;
}

.about-content, .contact-content, .work-content {
  margin: 5px;
}

/* nested grid on work -starts  */
.work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas: 
  "surf surf"
  "led calc"
  "pastel run";
}

/*
#surf { grid-area: 1 / 1 / 2 / 3; }
#led { grid-area: 2 / 1 / 3 / 2; }
#calc { grid-area: 2 / 2 / 3 / 3; }
#pastel { grid-area: 3 / 1 / 4 / 2; }
#run { grid-area: 3 / 2 / 4 / 3; }
*/

/* nested grid on work - ends  */
#surf {
  grid-area: surf;
  background-image: url("../images/02-portfolio-2.jpg");
  height: 350px;
}

#led {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
  height: 115px;
}

#calc {
  grid-area: calc;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 115px;
}

#pastel {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 115px;
}

#run {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  height: 115px;
}

.cards {
  border: 2px solid var(--main-color);
  display: grid;
  justify-content: start;
  align-content: end;
  padding-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  cursor: pointer;
  opacity: 0.7;
}

.cards:hover {
  opacity: 1;
}

.cards-content {
  background-color: #8ae4e4a1;
  height: fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cards-content h4 {
  font-size: 20px;
}

.cards-content p {
  font-size: smaller;
}

.contact-content ul {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  /* border: red 1px solid; */
}
.contact-content ul li a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid var(--second-color);
  color: var(--second-color);
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 10px;
  color: var(--main-color);
}

/* Small screen devices Mobile (320px and above) */
@media only screen and (max-width: 800px) {
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
  }

  #branding {
    padding: 0;
    text-align: center;
    width: 100%;
  }

  nav ul li {
    padding: 5px;
    padding-top: 5px;
    padding-bottom: 10px;

  }

  .hero-banner h2 {
    margin: 0;
    margin-bottom: 10px;
  }

  .hero-banner {
    height: 100px;
    display: flex;
    justify-content: center;
  }

  /* grid for media queries */
  .main-wrap {
    border: 2px red solid;
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: auto;
    grid-template-areas: 
    "about"
    "about-content"
    "work"
    "work-content"
    "contact"
    "contact-content"
    ;
    }
    
    /* .about { grid-area: 1 / 1 / 2 / 2; }
    .about-content { grid-area: 2 / 1 / 3 / 2; }
    .work { grid-area: 3 / 1 / 4 / 2; }
    .work-content { grid-area: 4 / 1 / 5 / 2; }
    .contact { grid-area: 5 / 1 / 6 / 2; }
    .contact-content { grid-area: 6 / 1 / 7 / 2; } */
    
    .about{
      grid-area: about;
    }

    .about-content {
      grid-area: about-content;
    }

    .work {
      grid-area: work;
    }

    .work-content {
      grid-area: work-content;
    }

    .contact {
      grid-area: contact;
    }

    .contact-content {
      grid-area: contact-content;
    }

    .about, .work, .contact {
      padding: 0;
      display: flex;
      justify-content: flex-start;
      border-bottom: #323540 2px solid;
    }

    .about h2, .work h2, .contact h2 {
      border: red 1px solid;
      padding: 0;
      text-align: left;
      width: 100%;
    }

    .about-content, .cards-content, .contact-content {
      height: fit-content;
      display: block;
    }

    /* grid for nested grid work */
    .work-content {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: repeat(5, 1fr);
      grid-template-areas: 
      "surf"
      "led" 
      "calc"
      "pastel"
      "run";
    }

    #surf {
      height: auto;
    }

    .contact-content ul {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
    }

    .contact-content ul li {
      padding: 2px;
    }

}

/* Medium screen devices Tablet (750px and above) */
/* @media only screen and (max-width: 768px) {...} */