* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {

  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  /* color: red; */
}

p {
  margin: 0;
}
