:root {
  --main-color: #8ae4e4;
  --second-color: #323540;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
  background-color: #e4e5ee;
  color: var(--second-color);
}

/* header and navbar setting start */
header, footer {
  background-color: var(--second-color);
  color: var(--main-color);
}

.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

ul{
  list-style-type: none;
}

#branding {
  background-color: var(--main-color);
  color: var(--second-color);
}

#branding h1 {
  margin-left: 100px;
}


.ul-link {
  margin-right: 40px;
  display: flex;
  justify-content: space-between;
  
}

ul li {
  padding: 20px;
}

nav ul li a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  border-bottom: 2px solid var(--main-color);
  text-decoration: none;
  color: var(--main-color);
}

/* header and navbar setting end */
/*hero image setting*/
.hero-banner {
  background-image: url("../images/02-hero-bg.jpg");
  background-size: cover;
  height: 150px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
}

.hero-banner h2 {
  background-color: var(--main-color);
  color: var(--second-color);
  margin-right: 60px;
  margin-bottom: 10px;
}

/*main universal*/
main {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 40px;
  margin-right: 40px;
  padding: 10px;
}

/*main - setting grid - starts*/
.main-wrap {
  display: grid;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  column-gap: 10px;
  row-gap: 10px;
}

.about { grid-area: 1 / 1 / 2 / 2; }
.about-content { grid-area: 1 / 2 / 2 / 3; }
.work { grid-area: 2 / 1 / 3 / 2; }
.work-content { grid-area: 2 / 2 / 3 / 3; }
.contact { grid-area: 3 / 1 / 4 / 2; }
.contact-content { grid-area: 3 / 2 / 4 / 3; }
/*main - setting grid - ends */

.about, .work, .contact {
  border-right: solid 2px var(--second-color);
  display: flex;
  justify-content: flex-end;
  padding-right: 5px;
}

.about-content {
  /* border: 1px red solid; */
  height: 130px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.about h2, .work h2, .contact h2 {
  /* border: 1px red solid; */
  text-align: right;
  font-size: 30px;
  width: min-content;
}

.about-content, .contact-content, .work-content {
  margin: 5px;
}

/* nested grid on work -starts  */
.work-content {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 3fr 1fr 1fr;
  grid-gap: 5px;
  grid-template-areas: 
  "surf surf"
  "led calc"
  "pastel run";
}

/*
#surf { grid-area: 1 / 1 / 2 / 3; }
#led { grid-area: 2 / 1 / 3 / 2; }
#calc { grid-area: 2 / 2 / 3 / 3; }
#pastel { grid-area: 3 / 1 / 4 / 2; }
#run { grid-area: 3 / 2 / 4 / 3; }
*/

/* nested grid on work - ends  */
#surf {
  grid-area: surf;
  background-image: url("../images/02-portfolio-2.jpg");
  height: 350px;
}

#led {
  grid-area: led;
  background-image: url("../images/02-portfolio-1.jpg");
  height: 115px;
}

#calc {
  grid-area: calc;
  background-image: url("../images/02-portfolio-3.jpg");
  height: 115px;
}

#pastel {
  grid-area: pastel;
  background-image: url("../images/02-portfolio-4.jpg");
  height: 115px;
}

#run {
  grid-area: run;
  background-image: url("../images/02-run-buddy.jpg");
  height: 115px;
}


.cards {
  border: 2px solid var(--main-color);
  display: grid;
  justify-content: start;
  align-content: end;
  padding-bottom: 10px;
  background-size: cover;
  background-repeat: no-repeat;
}

.cards-content {
  background-color: #8ae4e4a1;
  height: fit-content;
  width: fit-content;
  padding-left: 20px;
  padding-right: 10px;
  padding-top: 2px;
  padding-bottom: 2px;
}

.cards-content h4 {
  font-size: 20px;
}

.cards-content p {
  font-size: smaller;
}
.contact-content ul li a {
  padding-left: 5px;
  padding-right: 5px;
  padding-bottom: 3px;
  text-decoration: none;
  border-bottom: 2px solid var(--second-color);
  color: var(--second-color);
}

/*footer*/
footer {
  display: flex;
  justify-content: center;
  padding: 10px
}
